[user]
  name = Jussi Mononen
  email = jussi.mononen@nitorcreations.com
[alias]
  st = status
  lc = log ORIG_HEAD.. --stat --no-merges
  l = log --decorate
  ls = log --graph --decorate --date=short --pretty=format:\"%C(green)%h%C(reset) (%C(cyan)%an%C(reset))%C(red reverse)%d%C(reset) %C(yellow)%ad%C(reset) %s\"
  lf = log --graph --decorate --date=short --name-only --pretty=format:\"%C(green)%h%C(reset) (%C(cyan)%an%C(reset))%C(red reverse)%d%C(reset) %C(yellow)%ad%C(reset) %s\"
  #ls = log --oneline --format=\"%C(green)%h%C(reset) (%C(cyan)%an%C(reset))%C(red reverse)%d%C(reset) %C(yellow)%ad%C(reset) %s\" --graph
  lt = !git log --graph --since=yesterday --decorate --date=short --pretty=format:\"%C(green)%h%C(reset) (%C(cyan)%an%C(reset))%C(red reverse)%d%C(reset) %C(yellow)%ad%C(reset) %s\" | less -R
  dc = diff --cached
  co = checkout
  br = branch
  p = !git fetch origin && git rebase @{u}
  cm = commit -m
  s = show
  cam = commit -am
  au = add -u
  stu = status -uall
  up = !git fetch origin && git rebase @{u}
  d = diff
  f = fetch
  poh = push origin HEAD
  rom = rebase origin/master
  spull = !git svn fetch && git svn rebase -l
  spush = !git svn dcommit

[core]
  editor = emacs
  autocrlf = input
[color]
  ui = true
[push]
  default = upstream
[branch]
  autosetuprebase = always
